- if !bookings.empty?
  %ul
    -bookings.each do |booking|

    .trip_box
      .inner_container
        = image_tag("#{booking.image_url}"),
      .group_info
        %ul
          %li
            = booking.name
          %li
            = booking.vote_count
          %li
            = booking.price


/ - if !bookings.empty?
/   %ul
/     -bookings.each do |booking|
/       %li
/         =booking.excursion.name
/         =booking.vote_count

-else
  %p
    = "No Suggestions have been voted on Vote Now"
