%section.group_lists
  - if !bookings.empty?
    - bookings.each do |booking|
      .trip_box
        .inner_container
          = image_tag("/assets/excursions/#{booking.excursion.image_url}")
        .group_info
          %ul
            %li
              = booking.excursion.name
            %li
              = booking.vote_count
            %li
              = booking.excursion.price
  - else
    %p
      = "No Suggestions have been voted on Vote Now"
