%h1
  = @group.name
  = "#{@group.start_date} - #{@group.end_date}"
%h3
  = "Group Code: #{@group.group_code}"
%h2
  Adventurers +

- @group.users.each do |u|
  = image_tag u.image

%h2
  Exursions



